@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #00425A;
    padding: 20px, 0;
}

.caja {
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: initial;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.niños {
    width: 100%;
}