@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
.footer {
    text-align: center;
    background-color: #00425A;
    padding: 40px;

}

.footer__logo {
    margin: auto;
    text-align: center;
    
}

.footer__titulo{
    display:grid;

}

.footer__contacto {
    display: flex;
    list-style: none;
    margin-right: 1.25rem;
    
}   

.footer__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__midia {
        text-align: left;
        min-width: 600px;
    }
}