@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #00425A;

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__contacto {
    display: inline;
    
}   

.footer__midia {
    display: grid;

    width: 2px;
    height: 2px;

    margin: 2rem 1rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__navegacion {
        text-align: left;
        min-width: 600px;
    }
}